
$baseSize:75;

$transparent-color:rgba(0,0,0,0);

$header-bg-color:linear-gradient(90deg, rgb(167, 0, 228), rgb(88, 37, 220));
$header-bg-colo-op:linear-gradient(90deg, rgba(167, 0, 228,0.6), rgba(88, 37, 220,0.6));
$header-font-color:linear-gradient(to right, rgb(190, 33, 255), rgb(89, 10, 234));

$btn-yellow-bg:linear-gradient(90deg,rgb(255,211,1),rgb(255,244,63));
$btn-red-bg:linear-gradient(-1deg,rgb(225,0,47),rgb(249,94,94));

$active-color:rgb(233,33,64);
