Element { appearance: none; tap-highlight-color: rgba(255, 255, 255, 0); border-width: thin; }

html { color: #000; background: #fff; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-align: center; }

html * { outline: 0; -webkit-text-size-adjust: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

html, body { width: 100%; height: 100%; overflow: hidden; -webkit-overflow-scrolling: touch; position: relative; font-family: Helvetica,"MicrosoftYaHei"; box-sizing: border-box; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { margin: 0; padding: 0; box-sizing: border-box; }

input, select, textarea { font-size: 100%; box-sizing: border-box; }

table { border-collapse: collapse; border-spacing: 0; }

fieldset, img { border: 0; }

abbr, acronym { border: 0; font-variant: normal; }

del { text-decoration: line-through; }

address, caption, cite, code, dfn, em, th, var { font-style: normal; font-weight: 500; }

ol, ul { list-style: none; }

caption, th { text-align: left; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 500; }

q:before, q:after { content: ''; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -.5em; }

sub { bottom: -.25em; }

a:hover { text-decoration: underline; }

ins, a { text-decoration: none; }

body { position: relative; }

.color-red { color: #ea2241 !important; }

.el-wh-check { color: #a1a1a1; }

.el-wh-check.color-red { color: #e92140; }

.wrap { width: 100%; height: 100%; position: relative; overflow-y: auto; -webkit-overflow-scrolling: touch; background-color: #3f00b2; }

.wrap .bg-box { min-height: 100%; width: 100%; height: auto; position: relative; }

.wrap .bg-box img { width: 100%; }

.wrap .active-rule { cursor: pointer; position: absolute; right: 0; display: inline-block; width: auto; min-height: 0.52rem; padding: 0.10667rem 0.25333rem; line-height: 1; font-size: 12px; background: linear-gradient(90deg, #ffd301, #ffea00); box-shadow: 0 4px 4px rgba(0, 0, 0, 0.48); text-align: center; color: #1c1992; border-bottom-left-radius: 0.26rem; border-top-left-radius: 0.26rem; }

[data-dpr="2"] .wrap .active-rule { font-size: 24px; }

[data-dpr="3"] .wrap .active-rule { font-size: 36px; }

.wrap .active-rule:hover { color: #1c1992; }

#masking, #tips { display: none; width: 100%; height: 100%; position: absolute; z-index: 100; background: rgba(0, 0, 0, 0.3); top: 0; left: 0; bottom: 0; right: 0; }

#tips { display: none; z-index: 110; }

#tips span { max-width: 100%; position: absolute; z-index: 111; left: 50%; top: 50%; transform: translate(-50%, -50%); color: #fff; display: inline-block; padding: 20px; background: rgba(0, 0, 0, 0.5); text-align: justify; font-size: 14px; border-radius: 0.26667rem; }

[data-dpr="2"] #tips span { font-size: 28px; }

[data-dpr="3"] #tips span { font-size: 42px; }

input { width: 6.69333rem; height: 0.8rem; line-height: normal; vertical-align: middle; font-size: 14px; text-indent: 1em; padding-right: 1em; margin: 0.4rem 0; background-color: #e4e3e3; border: none; outline: none; border-radius: 0.05333rem; }

[data-dpr="2"] input { font-size: 28px; }

[data-dpr="3"] input { font-size: 42px; }

input.shortCut { width: 3.65333rem; }

.err-tips { height: 0.42667rem; line-height: 0.42667rem; color: #ff4242; margin-top: 0.21333rem; }

.panel { width: 100%; position: relative; }

.panel.in { display: none; }

.panel:after { display: block; clear: both; content: ""; visibility: hidden; height: 0; }

.panel .panel-title { height: 0.74667rem; line-height: 0.74667rem; font-size: 16px; width: 100%; position: absolute; z-index: 2; color: #fff; background: linear-gradient(90deg, #a700e4, #5825dc); text-align: left; border-top-right-radius: 0.26667rem; border-top-left-radius: 0.26667rem; box-shadow: 0 0 3px rgba(0, 0, 0, 0.33); }

[data-dpr="2"] .panel .panel-title { font-size: 32px; }

[data-dpr="3"] .panel .panel-title { font-size: 48px; }

.panel .panel-body { background: #fff; border-radius: 0.26667rem; padding-top: 0.74667rem; }

.panel .panel-footer { background: #fff; padding: 0.66667rem 0; }

.dialog { display: none; box-shadow: none; background: transparent; border: none; width: 7.86667rem; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 105; }

.dialog .close { cursor: pointer; width: 0.85333rem; height: 0.85333rem; overflow: hidden; display: block; position: absolute; top: -0.53333rem; right: -0.53333rem; }

.dialog .close i { font-size: 30px; color: #8c8c8c; }

[data-dpr="2"] .dialog .close i { font-size: 60px; }

[data-dpr="3"] .dialog .close i { font-size: 90px; }

.dialog .close i:hover, .dialog .close i:active { color: #595959; }

.dialog .panel-title { cursor: pointer; text-align: center; height: 1.6rem; line-height: 1.6rem; border-top-right-radius: 0.66667rem; border-top-left-radius: 0.66667rem; font-size: 23px; }

[data-dpr="2"] .dialog .panel-title { font-size: 46px; }

[data-dpr="3"] .dialog .panel-title { font-size: 69px; }

.dialog .panel-body { font-size: 14px; padding-top: 1.6rem; border: 0; border-radius: 0.66667rem 0.66667rem 0 0; overflow: hidden; box-shadow: 0 -0.02667rem 0.02667rem -0.02667rem rgba(0, 0, 0, 0.67); }

[data-dpr="2"] .dialog .panel-body { font-size: 28px; }

[data-dpr="3"] .dialog .panel-body { font-size: 42px; }

.dialog .panel-footer { margin-top: -2px; box-shadow: 0 0.2rem 0.16rem -0.2rem rgba(0, 0, 0, 0.67); border-bottom-right-radius: 0.66667rem; border-bottom-left-radius: 0.66667rem; }

.dialog.myAlert .panel-body { padding-top: 0.74667rem; }

.dialog.myAlert .panel-body .lose { height: 0.8rem; text-align: center; }

.dialog.myAlert .panel-body .lose img { width: 0.85333rem; height: 0.8rem; }

.dialog.myRegister .panel-body { padding-top: 0.74667rem; }

.dialog.myRegister .panel-body .register { height: 2.09333rem; text-align: center; }

.dialog.myRegister .panel-body .register img { width: 3.13333rem; height: 2.09333rem; }

.dialog.myRegister .panel-body p { margin-top: 0.33333rem; font-weight: 500; font-size: 22px; color: #e92140; line-height: 1; }

[data-dpr="2"] .dialog.myRegister .panel-body p { font-size: 44px; }

[data-dpr="3"] .dialog.myRegister .panel-body p { font-size: 66px; }

.btn { margin: 0 auto; font-size: 24px; text-align: center; cursor: pointer; }

[data-dpr="2"] .btn { font-size: 48px; }

[data-dpr="3"] .btn { font-size: 72px; }

.btn.grey { background-color: #cecece; box-shadow: 0 0.13333rem 0 rgba(156, 156, 156, 0.57), 0 0.06667rem 0.08rem rgba(0, 0, 0, 0.57); color: #8e8e8e; }

.btn.grey:active { box-shadow: 0 0.04rem 0 rgba(156, 156, 156, 0.57), 0 0.04rem 0.05333rem rgba(0, 0, 0, 0.57); }

.btn.yellow { color: #a34100; background: linear-gradient(90deg, #ffd301, #fff43f); box-shadow: 0 0.13333rem 0 rgba(255, 228, 34, 0.57), 0 0.06667rem 0.08rem rgba(0, 0, 0, 0.57); }

.btn.yellow:active { box-shadow: 0 0.04rem 0 rgba(255, 228, 34, 0.57), 0 0.04rem 0.05333rem rgba(0, 0, 0, 0.57); }

.btn.red { color: #fff; font-size: 16px; background: linear-gradient(-1deg, #e1002f, #f95e5e); box-shadow: 0 0.13333rem 0 rgba(243, 4, 32, 0.8), 0 0.06667rem 0.08rem rgba(0, 0, 0, 0.57); }

[data-dpr="2"] .btn.red { font-size: 32px; }

[data-dpr="3"] .btn.red { font-size: 48px; }

.btn.red:active { box-shadow: 0 0.04rem 0 rgba(238, 50, 72, 0.57), 0 0.04rem 0.05333rem rgba(0, 0, 0, 0.57); }

.btn-hg { width: 9.14667rem; height: 1.36rem; line-height: 1.36rem; border-radius: 0.66667rem; }

.btn-lg { width: 6.69333rem; height: 1.06667rem; line-height: 1.06667rem; border-radius: 0.53333rem; }

.btn-md-long { width: 8.16rem; height: 0.90667rem; line-height: 0.90667rem; border-radius: 0.45333rem; }

.btn-md { width: 6.22667rem; height: 0.90667rem; line-height: 0.90667rem; border-radius: 0.45333rem; }

.btn-sm { width: 3.14667rem; height: 0.90667rem; line-height: 0.90667rem; border-radius: 0.45333rem; }

.a-link { cursor: pointer; color: #D6D019; text-decoration: underline; }

table { width: 100%; }

table td, table th { text-align: center; color: #f0e800; border: 1px solid #6971da; font-size: 12px; line-height: 0.8rem; text-align: center; }

[data-dpr="2"] table td, [data-dpr="2"] table th { font-size: 24px; }

[data-dpr="3"] table td, [data-dpr="3"] table th { font-size: 36px; }

table td:first-of-type, table th:first-of-type { padding-right: 0.02667rem; padding-left: 0.02667rem; }

#time-count { overflow: hidden; }

#time-count .time-list { overflow: hidden; }

#time-count .time-list li { float: left; height: 0.64rem; width: 0.64rem; line-height: 0.64rem; font-size: 13px; }

[data-dpr="2"] #time-count .time-list li { font-size: 26px; }

[data-dpr="3"] #time-count .time-list li { font-size: 39px; }

#time-count .time-list li.time-wrap { position: relative; overflow: hidden; }

#time-count .time-list li.time-wrap .up { position: absolute; top: -1px; height: 0.32rem; width: 100%; background: url(../images/up.png) bottom center no-repeat; background-size: 100% auto; background-color: rgba(0, 0, 0, 0); overflow: hidden; line-height: 0.64rem; font-size: 14px; font-weight: bold; }

[data-dpr="2"] #time-count .time-list li.time-wrap .up { font-size: 28px; }

[data-dpr="3"] #time-count .time-list li.time-wrap .up { font-size: 42px; }

#time-count .time-list li.time-wrap .down { position: absolute; bottom: 0; height: 0.30667rem; width: 100%; background: url(../images/down.png) top center no-repeat; background-size: 100% auto; background-color: rgba(0, 0, 0, 0); overflow: hidden; line-height: 0.64rem; font-size: 14px; font-weight: bold; }

[data-dpr="2"] #time-count .time-list li.time-wrap .down { font-size: 28px; }

[data-dpr="3"] #time-count .time-list li.time-wrap .down { font-size: 42px; }

#time-count .time-list li.time-wrap .down .down-wrap { margin-top: -51%; }

.loading { display: none; width: 1.33333rem; height: 1.33333rem; position: absolute; z-index: 120; margin: 0 auto; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.loading span { display: inline-block; width: 0.21333rem; height: 0.21333rem; border-radius: 50%; background: #fff; position: absolute; -webkit-animation: load 1.04s ease infinite; }

.loading span:nth-child(1) { left: 0; top: 50%; margin-top: -0.10667rem; -webkit-animation-delay: 0.13s; }

.loading span:nth-child(2) { left: 0.18667rem; top: 0.18667rem; -webkit-animation-delay: 0.26s; }

.loading span:nth-child(3) { left: 50%; top: 0; margin-left: -0.10667rem; -webkit-animation-delay: 0.39s; }

.loading span:nth-child(4) { top: 0.18667rem; right: 0.18667rem; -webkit-animation-delay: 0.52s; }

.loading span:nth-child(5) { right: 0; top: 50%; margin-top: -0.10667rem; -webkit-animation-delay: 0.65s; }

.loading span:nth-child(6) { right: 0.18667rem; bottom: 0.18667rem; -webkit-animation-delay: 0.78s; }

.loading span:nth-child(7) { bottom: 0; left: 50%; margin-left: -0.10667rem; -webkit-animation-delay: 0.91s; }

.loading span:nth-child(8) { bottom: 0.18667rem; left: 0.18667rem; -webkit-animation-delay: 1.04s; }

@-webkit-keyframes load { 0% { opacity: 1; }
  100% { opacity: 0.2; } }

#areaSel { z-index: 109; position: absolute; top: 50%; bottom: 0; left: 0; right: 0; background: #fff; text-align: left; font-size: 15px; color: #000; line-height: 0.8rem; padding: 0.8rem; border-top: 1px solid #ccc; font-weight: 500; }

[data-dpr="2"] #areaSel { font-size: 30px; }

[data-dpr="3"] #areaSel { font-size: 45px; }

#areaSel .btn-wrap { overflow: hidden; color: #3f00b2; }

#areaSel .btn-wrap #cancelArea { cursor: pointer; float: left; width: auto; padding: 0.13333rem 0.26667rem; }

#areaSel .btn-wrap #cancelArea:after { display: block; clear: both; content: ""; visibility: hidden; height: 0; }

#areaSel .btn-wrap #confirmArea { cursor: pointer; float: right; width: auto; padding: 0.13333rem 0.26667rem; }

#areaSel .btn-wrap #confirmArea:after { display: block; clear: both; content: ""; visibility: hidden; height: 0; }

#areaSel #maskLoading { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.3); }

#areaSel #maskLoading .loading { display: block; }

#areaSel #showArea { height: 0.8rem; line-height: 0.8rem; white-space: nowrap; border-bottom: 1px solid #3f00b2; margin-bottom: 0.26667rem; }

#areaSel #showArea span { padding: 0 0.06667rem; min-width: 1.33333rem; cursor: pointer; }

#areaSel #showArea span:hover { color: #a700e4; }

#areaSel #areaListWrap { height: calc(100% - 0.8rem); overflow: auto; }

#areaSel #areaList { padding-left: 1em; }

#areaSel #areaList li { cursor: pointer; }

#areaSel #areaList li:active { color: #a700e4; }

.my-androids .bg-box .title-box .active-time-wrap, .my-androids .btn { padding-top: 2px; }

.my-androids #time-count .time-list li.time-wrap .up, .my-androids #time-count .time-list li.time-wrap .down .down-wrap { padding-top: 1.5px; }

.bg-box .title-box .active-time-wrap { position: absolute; top: 4.01333rem; left: 50%; transform: translateX(-50%); min-width: 6.30667rem; width: auto; margin: 0 auto; height: 0.45333rem; font-size: 10px; line-height: 0.45333rem; color: #fff; border-radius: 0.22667rem; background: linear-gradient(90deg, #a700e4, #5825dc); justify-content: center; align-items: center; flex-direction: column; }

[data-dpr="2"] .bg-box .title-box .active-time-wrap { font-size: 20px; }

[data-dpr="3"] .bg-box .title-box .active-time-wrap { font-size: 30px; }

.bg-box .title-box .active-rule { top: 9.85333rem; }

.bg-box .main-box { width: 100%; min-width: 9.14667rem; height: auto; overflow: hidden; position: absolute; top: 10.36rem; }

.bg-box .main-box .active-wrap { width: 9.14667rem; margin: 0.6rem auto 0; }

.bg-box .main-box .active-wrap .head-title { padding-left: 1.02667rem; }

.bg-box .main-box .active-wrap .head-title .cut-off-time { display: inline-block; font-size: 9px; vertical-align: middle; float: right; padding-right: 0.25333rem; }

[data-dpr="2"] .bg-box .main-box .active-wrap .head-title .cut-off-time { font-size: 18px; }

[data-dpr="3"] .bg-box .main-box .active-wrap .head-title .cut-off-time { font-size: 27px; }

.bg-box .main-box .active-wrap .head-title:before { position: absolute; content: ''; display: block; width: 0.65333rem; height: 0.84rem; left: 0.21333rem; top: -0.30667rem; background: url(../images/2.png) no-repeat; background-size: contain; }

.bg-box .main-box .active-wrap .content .content-title { background: linear-gradient(to right, #be21ff, #590aea); -webkit-background-clip: text; color: transparent; font-size: 18px; text-align: center; font-weight: bold; line-height: 1; padding: 0.22667rem 0 0.24rem; }

[data-dpr="2"] .bg-box .main-box .active-wrap .content .content-title { font-size: 36px; }

[data-dpr="3"] .bg-box .main-box .active-wrap .content .content-title { font-size: 54px; }

.bg-box .main-box .active2 { height: 4.96rem; }

.bg-box .main-box .active2 .content { padding: 1.04rem 0.30667rem 0.29333rem; }

.bg-box .main-box .active2 .content .content-main { height: 2.70667rem; width: 8.53333rem; margin: 0 auto; }

.bg-box .main-box .active2 .content .content-main .pcCode { height: 100%; width: 2.70667rem; padding: 0.30667rem 0.30667rem; float: left; }

.bg-box .main-box .active2 .content .content-main .pcCode img { width: 2.09333rem; height: 2.09333rem; }

.bg-box .main-box .active2 .content .content-main .go-active-box { float: left; width: 5.81333rem; height: 100%; padding: 0.30667rem; color: #fff; overflow: hidden; }

.bg-box .main-box .active2 .content .content-main .go-active-box .active-box-title { font-size: 13px; height: 1.14667rem; }

[data-dpr="2"] .bg-box .main-box .active2 .content .content-main .go-active-box .active-box-title { font-size: 26px; }

[data-dpr="3"] .bg-box .main-box .active2 .content .content-main .go-active-box .active-box-title { font-size: 39px; }

.bg-box .main-box .active2 .content .content-main .go-active-box .active-box-title.big-font { font-size: 18px; }

[data-dpr="2"] .bg-box .main-box .active2 .content .content-main .go-active-box .active-box-title.big-font { font-size: 36px; }

[data-dpr="3"] .bg-box .main-box .active2 .content .content-main .go-active-box .active-box-title.big-font { font-size: 54px; }

.bg-box .main-box .active2 .content .content-main .go-active-box .active-box-content { height: 0.90667rem; text-align: center; }

.bg-box .main-box .active2.show-end .content .content-main { background: #691dde; }

.bg-box .main-box .active2.show-end .content .content-main .go-active-box.show-result { display: block; }

.bg-box .main-box .active2.show-end .content .content-main .go-active-box.show-process { display: none; }

.bg-box .main-box .active2.show-end .content .content-main .go-active-box .active-box-title { line-height: 1.14667rem; }

.bg-box .main-box .active2.show-end .content .content-main .go-active-box .active-box-content #list-btn { cursor: pointer; display: inline-block; font-size: 14px; font-weight: bold; width: 3.14667rem; height: 100%; line-height: 0.90667rem; border-radius: 0.45333rem; box-shadow: 0 7px 7px rgba(0, 0, 0, 0.35); background: linear-gradient(-1deg, #e1002f, #f95e5e); }

[data-dpr="2"] .bg-box .main-box .active2.show-end .content .content-main .go-active-box .active-box-content #list-btn { font-size: 28px; }

[data-dpr="3"] .bg-box .main-box .active2.show-end .content .content-main .go-active-box .active-box-content #list-btn { font-size: 42px; }

.bg-box .main-box .active2.show-end .content .content-main .go-active-box .active-box-content #list-btn:hover, .bg-box .main-box .active2.show-end .content .content-main .go-active-box .active-box-content #list-btn:active { color: #cccccc; background: linear-gradient(-1deg, #f32d56, #d74e4e); }

.bg-box .main-box .active2.show-countDown .content .content-main { background: #691dde; }

.bg-box .main-box .active2.show-countDown .content .content-main .go-active-box.show-result { display: none; }

.bg-box .main-box .active2.show-countDown .content .content-main .go-active-box.show-process { display: block; }

.bg-box .main-box .active2.show-countDown .content .content-main .go-active-box .active-box-title > span { display: block; line-height: 0.57333rem; }

.bg-box .main-box .active2.show-countDown .content .content-main .go-active-box .active-box-content { padding-top: 0.13333rem; }

.bg-box .main-box .active1 { height: 2.16rem; }

.bg-box .main-box .active1 .head-title:before { background-image: url(../images/1.png); }

.bg-box .main-box .active1 .content { height: 2.16rem; line-height: 1.41333rem; font-size: 18px; position: relative; }

[data-dpr="2"] .bg-box .main-box .active1 .content { font-size: 36px; }

[data-dpr="3"] .bg-box .main-box .active1 .content { font-size: 54px; }

.bg-box .main-box .active1 .content .content-title { height: 1.41333rem; line-height: 0.94667rem; }

.bg-box .main-box .active1 .content .content-remark { position: absolute; width: 1.58667rem; height: 1.4rem; right: 0.13333rem; top: 0.52rem; }

.bg-box .main-box .active1 .content .content-remark img { width: 100%; height: 100%; }

.bg-box .main-box .active1.show-countDown .content .content-remark { display: none; }

.bg-box .main-box .active1.show-end .head-title { filter: saturate(0); background: linear-gradient(90deg, rgba(167, 0, 228, 0.6), rgba(88, 37, 220, 0.6)); }

.bg-box .main-box .active1.show-end .head-title:before { background-image: url(../images/1end.png); }

.bg-box .main-box .active1.show-end .content .content-title { color: #555; background: transparent; }

.bg-box .main-box .active1.show-end .content .content-remark { display: block; }

footer.home-foot { z-index: 99; position: absolute; bottom: 0; height: 2.14667rem; background: #3f00b2; width: 100%; overflow: hidden; box-shadow: 0 -0.02667rem 0.17333rem rgba(63, 0, 178, 0.9); }

footer.home-foot #activeBtn { margin: 0 auto; margin-top: 0.39333rem; }

.commit-active .panel-body { padding-left: 0.58667rem; padding-right: 0.58667rem; }

.commit-active .panel-body li { text-align: left; }

.commit-active .panel-body .count-down { padding-left: 1em; color: #0e7fff; cursor: pointer; }

.commit-active .panel-body .count-down.isabled { color: #b4b4b4; }

.commit-active .remark { font-size: 12px; color: #000; padding: 0.53333rem 0 0; }

[data-dpr="2"] .commit-active .remark { font-size: 24px; }

[data-dpr="3"] .commit-active .remark { font-size: 36px; }

.myHome .panel .panel-title { font-size: 20px; font-weight: 600; }

[data-dpr="2"] .myHome .panel .panel-title { font-size: 40px; }

[data-dpr="3"] .myHome .panel .panel-title { font-size: 60px; }

.wrap.info .bg-box { background: #3f00b2; overflow: hidden; padding: 0.42667rem; }

.wrap.info .active-rule { top: 0.42667rem; }

.wrap.info .page-header { padding-top: 0.58667rem; }

.wrap.info .page-title { width: 100%; }

.wrap.info .page-title .user { overflow: hidden; }

.wrap.info .page-title #user-img { float: left; width: 1.28rem; height: 1.28rem; border-radius: 50%; background: #000; overflow: hidden; }

.wrap.info .page-title #user-img img { width: 100%; height: 100%; }

.wrap.info .page-title #user-state { height: 1.28rem; float: left; color: #fff; text-align: left; padding: 0.16rem 0.26667rem; line-height: 0.48rem; }

.wrap.info .page-title #user-state .state { font-size: 15px; }

[data-dpr="2"] .wrap.info .page-title #user-state .state { font-size: 30px; }

[data-dpr="3"] .wrap.info .page-title #user-state .state { font-size: 45px; }

.wrap.info .page-title #user-state .phone-box { font-size: 12px; }

[data-dpr="2"] .wrap.info .page-title #user-state .phone-box { font-size: 24px; }

[data-dpr="3"] .wrap.info .page-title #user-state .phone-box { font-size: 36px; }

.wrap.info .page-title .remark { text-align: right; font-size: 10px; }

[data-dpr="2"] .wrap.info .page-title .remark { font-size: 20px; }

[data-dpr="3"] .wrap.info .page-title .remark { font-size: 30px; }

.wrap.info #noBingo2.collapse-in .panel-body { height: 0; overflow: hidden; }

.wrap.info #noBingo2.collapse-in .panel-footer { height: auto !important; padding: 0.42667rem !important; }

.wrap.info .panel { margin-top: 0.32rem; }

.wrap.info .panel + .panel { margin-top: 0.73333rem; }

.wrap.info .panel .panel-title { text-align: center; font-size: 20px; }

[data-dpr="2"] .wrap.info .panel .panel-title { font-size: 40px; }

[data-dpr="3"] .wrap.info .panel .panel-title { font-size: 60px; }

.wrap.info .panel .panel-body { padding-left: 0.42667rem; padding-right: 0.42667rem; color: #333; }

.wrap.info .panel .panel-footer { padding: 0.42667rem; line-height: 0.4rem; overflow: hidden; }

.wrap.info .panel .panel-footer .footer-title { font-size: 12px; color: #333; margin-bottom: 0.13333rem; }

[data-dpr="2"] .wrap.info .panel .panel-footer .footer-title { font-size: 24px; }

[data-dpr="3"] .wrap.info .panel .panel-footer .footer-title { font-size: 36px; }

.wrap.info .panel .panel-footer .footer-content { font-size: 10px; color: #666; }

[data-dpr="2"] .wrap.info .panel .panel-footer .footer-content { font-size: 20px; }

[data-dpr="3"] .wrap.info .panel .panel-footer .footer-content { font-size: 30px; }

.wrap.info .panel .content { padding-bottom: 0.42667rem; border-bottom: 1px solid #cecece; }

.wrap.info .panel .content .content-title { font-size: 12px; padding: 0.2rem 0; line-height: 0.77333rem; color: #333; }

[data-dpr="2"] .wrap.info .panel .content .content-title { font-size: 24px; }

[data-dpr="3"] .wrap.info .panel .content .content-title { font-size: 36px; }

.wrap.info .panel .content .content-title .sub-title { font-size: 11; }

[data-dpr="2"] .wrap.info .panel .content .content-title .sub-title { font-size: 22; }

[data-dpr="3"] .wrap.info .panel .content .content-title .sub-title { font-size: 33; }

.wrap.info .panel .content .content-body { overflow: hidden; }

.wrap.info .panel .content .content-body .part-state > li { overflow: hidden; font-size: 12px; }

[data-dpr="2"] .wrap.info .panel .content .content-body .part-state > li { font-size: 24px; }

[data-dpr="3"] .wrap.info .panel .content .content-body .part-state > li { font-size: 36px; }

.wrap.info .panel .content .content-body .part-state > li + li { margin-top: 0.6rem; }

.wrap.info .panel .content .content-body .part-state > li .part-name { float: left; overflow: hidden; }

.wrap.info .panel .content .content-body .part-state > li .part-name .partName { padding-left: 0.22667rem; float: left; line-height: 1.2rem; color: #555; }

.wrap.info .panel .content .content-body .part-state > li .part-name .part-img { float: left; width: 1.2rem; height: 1.2rem; border-radius: 0.13333rem; overflow: hidden; background: linear-gradient(90deg, #a700e4, #5825dc); }

.wrap.info .panel .content .content-body .part-state > li .partState { color: #555; float: right; line-height: 1.2rem; }

.wrap.info .panel .content .content-body .part-state > li .partState .icon { font-size: 19px; margin-right: 0.25333rem; vertical-align: middle; }

[data-dpr="2"] .wrap.info .panel .content .content-body .part-state > li .partState .icon { font-size: 38px; }

[data-dpr="3"] .wrap.info .panel .content .content-body .part-state > li .partState .icon { font-size: 57px; }

.wrap.info .panel.foot-panel .panel-body { border-bottom-right-radius: 0; border-bottom-left-radius: 0; }

.wrap.info .panel.foot-panel .panel-footer { border-bottom-right-radius: 0.26667rem; border-bottom-left-radius: 0.26667rem; }

.wrap.info .panel.collapse-panel { transition: height 0.3s linear; }

.wrap.info .panel.collapse-panel.collapse-in .el-wh-down { transform: rotate(0) !important; }

.wrap.info .panel.couple-panel .panel-title { cursor: pointer; }

.wrap.info .panel.couple-panel.not-time #time-count { display: inline-block; margin-top: 0.29333rem; }

.wrap.info .panel.couple-panel.not-time #time-count .up, .wrap.info .panel.couple-panel.not-time #time-count .down { color: #fff; }

.wrap.info .panel.couple-panel.not-time .collapsed { display: none; }

.wrap.info .panel.couple-panel.not-time .no-collapse, .wrap.info .panel.couple-panel.not-time .content-body, .wrap.info .panel.couple-panel.not-time .panel-footer { display: block; text-align: center; }

.wrap.info .panel.couple-panel.not-time .content-body-title { font-size: 20px; background: linear-gradient(90deg, #a700e4, #5825dc); -webkit-background-clip: text; margin-bottom: 0.52rem; color: transparent; }

[data-dpr="2"] .wrap.info .panel.couple-panel.not-time .content-body-title { font-size: 40px; }

[data-dpr="3"] .wrap.info .panel.couple-panel.not-time .content-body-title { font-size: 60px; }

.wrap.info .panel.couple-panel.not-time .content-body-content { overflow: hidden; font-size: 16px; }

[data-dpr="2"] .wrap.info .panel.couple-panel.not-time .content-body-content { font-size: 32px; }

[data-dpr="3"] .wrap.info .panel.couple-panel.not-time .content-body-content { font-size: 48px; }

.wrap.info .panel.couple-panel.not-time .content-body-content .q-box { width: 1.6rem; height: 1.6rem; line-height: 1.6rem; border-radius: 0.26667rem; overflow: hidden; color: #fff; font-size: 24px; display: inline-block; vertical-align: middle; background: #3f00b2; margin: 0 0.5em; }

[data-dpr="2"] .wrap.info .panel.couple-panel.not-time .content-body-content .q-box { font-size: 48px; }

[data-dpr="3"] .wrap.info .panel.couple-panel.not-time .content-body-content .q-box { font-size: 72px; }

.wrap.info .panel.couple-panel.not-time.collapse-in .collapsed { display: block; }

.wrap.info .panel.couple-panel.not-time.collapse-in .no-collapse, .wrap.info .panel.couple-panel.not-time.collapse-in .content-body { display: none; }

.wrap.info .panel.couple-panel.not-time.collapse-in .panel-footer { display: none; }

.wrap.info .panel.couple-panel.not-time.collapse-in .panel-body { border-bottom-left-radius: 0.26667rem !important; border-bottom-right-radius: 0.26667rem !important; }

.wrap.info .panel.couple-panel.not-time.collapse-in .collapsed { padding-bottom: 0; font-size: 14px; padding-top: 0.34667rem; }

[data-dpr="2"] .wrap.info .panel.couple-panel.not-time.collapse-in .collapsed { font-size: 28px; }

[data-dpr="3"] .wrap.info .panel.couple-panel.not-time.collapse-in .collapsed { font-size: 42px; }

.wrap.info .panel.couple-panel.not-allow.collapse-in .panel-body { border-bottom-left-radius: 0.26667rem !important; border-bottom-right-radius: 0.26667rem !important; }

.wrap.info .panel.couple-panel.not-allow.collapse-in .panel-footer { height: 0 !important; padding: 0 !important; }

.wrap.info .panel.couple-panel.no-bingo .panel-body { overflow: hidden; }

.wrap.info .panel.couple-panel.no-bingo .content-body { background: linear-gradient(90deg, #a700e4, #5825dc); color: transparent; -webkit-background-clip: text; font-size: 18px; }

[data-dpr="2"] .wrap.info .panel.couple-panel.no-bingo .content-body { font-size: 36px; }

[data-dpr="3"] .wrap.info .panel.couple-panel.no-bingo .content-body { font-size: 54px; }

.wrap.info .panel.couple-panel.no-bingo.collapse-in.collapse-panel .panel-title .el-wh-down { transform: rotate(0); }

.wrap.info .panel.couple-panel.no-bingo.collapse-in.collapse-panel .panel-body { height: 0; }

.wrap.info .panel.couple-panel.no-register .no-collapse { color: #ea2241; display: none; }

.wrap.info .panel.couple-panel.no-register .collapsed { display: block; }

.wrap.info .panel.couple-panel.no-register.collapse-in .panel-body { height: 0; overflow: hidden; }

.wrap.info .panel.couple-panel.no-register.collapse-in .no-collapse { display: block; }

.wrap.info .panel.couple-panel.no-register.collapse-in .collapsed { display: none; }

.wrap.info .panel.couple-panel.no-register .content-body, .wrap.info .panel.couple-panel.yes-register .content-body { background: linear-gradient(90deg, #a700e4, #5825dc); color: transparent; -webkit-background-clip: text; font-size: 18px; }

[data-dpr="2"] .wrap.info .panel.couple-panel.no-register .content-body, [data-dpr="2"] .wrap.info .panel.couple-panel.yes-register .content-body { font-size: 36px; }

[data-dpr="3"] .wrap.info .panel.couple-panel.no-register .content-body, [data-dpr="3"] .wrap.info .panel.couple-panel.yes-register .content-body { font-size: 54px; }

.wrap.info .panel.couple-panel.no-register .footer-title, .wrap.info .panel.couple-panel.yes-register .footer-title { font-size: 15px; color: #ea2241; }

[data-dpr="2"] .wrap.info .panel.couple-panel.no-register .footer-title, [data-dpr="2"] .wrap.info .panel.couple-panel.yes-register .footer-title { font-size: 30px; }

[data-dpr="3"] .wrap.info .panel.couple-panel.no-register .footer-title, [data-dpr="3"] .wrap.info .panel.couple-panel.yes-register .footer-title { font-size: 45px; }

.wrap.info .panel.couple-panel.no-register .footer-register, .wrap.info .panel.couple-panel.yes-register .footer-register { height: auto; overflow: hidden; }

.wrap.info .panel.couple-panel.no-register.collapse-in .footer-register, .wrap.info .panel.couple-panel.yes-register.collapse-in .footer-register { height: 0; }

.wrap.info .panel.couple-panel.collapse-panel .panel-title .el-wh-down { font-size: 12px; position: absolute; right: 0.42667rem; transform: rotate(180deg); transition: transform 0.3s linear; }

[data-dpr="2"] .wrap.info .panel.couple-panel.collapse-panel .panel-title .el-wh-down { font-size: 24px; }

[data-dpr="3"] .wrap.info .panel.couple-panel.collapse-panel .panel-title .el-wh-down { font-size: 36px; }

.wrap.info .panel.couple-panel.collapse-panel .panel-footer { height: auto; }

.wrap.info .panel.no-register input { margin: 0.21333rem 0; }

.wrap.info .panel.no-register textarea { margin-top: 0.21333rem; }

.wrap.info .panel.lottery-panel .panel-body .content-body { font-size: 11px; line-height: 1; }

[data-dpr="2"] .wrap.info .panel.lottery-panel .panel-body .content-body { font-size: 22px; }

[data-dpr="3"] .wrap.info .panel.lottery-panel .panel-body .content-body { font-size: 33px; }

.wrap.info .panel.lottery-panel .panel-body .btn-md-long { margin-bottom: 0.26667rem; margin-top: 0.53333rem; }

.wrap.info .panel.lottery-panel .panel-body #noBingoCode { display: none; }

.wrap.info .panel.lottery-panel .panel-footer .footer-title { font-size: 15px; color: #ea2241; }

[data-dpr="2"] .wrap.info .panel.lottery-panel .panel-footer .footer-title { font-size: 30px; }

[data-dpr="3"] .wrap.info .panel.lottery-panel .panel-footer .footer-title { font-size: 45px; }

.wrap.info .panel.lottery-panel .footer-register { display: none; }

.wrap.info .panel.lottery-panel .getCode { display: block; }

.wrap.info .panel.lottery-panel .code-list .list-title { font-size: 12px; background: linear-gradient(90deg, #a700e4, #5825dc); -webkit-background-clip: text; margin-bottom: 0.52rem; color: transparent; cursor: pointer; }

[data-dpr="2"] .wrap.info .panel.lottery-panel .code-list .list-title { font-size: 24px; }

[data-dpr="3"] .wrap.info .panel.lottery-panel .code-list .list-title { font-size: 36px; }

.wrap.info .panel.lottery-panel .code-list .list-title .el-wh-down { color: #3f00b2; font-size: 12px; display: inline-block; margin-right: 0; transform: rotate(180deg); transition: transform 0.3s linear; }

[data-dpr="2"] .wrap.info .panel.lottery-panel .code-list .list-title .el-wh-down { font-size: 24px; }

[data-dpr="3"] .wrap.info .panel.lottery-panel .code-list .list-title .el-wh-down { font-size: 36px; }

.wrap.info .panel.lottery-panel .code-list .list-body { width: 100%; max-height: 1.86667rem; overflow: hidden; overflow-y: auto; background: #3f00b2; border-radius: 0.13333rem; font-size: 12px; color: #ccb0ff; padding: 0.33333rem 0.44rem; }

[data-dpr="2"] .wrap.info .panel.lottery-panel .code-list .list-body { font-size: 24px; }

[data-dpr="3"] .wrap.info .panel.lottery-panel .code-list .list-body { font-size: 36px; }

.wrap.info .panel.lottery-panel .code-list .list-body ul { overflow: hidden; }

.wrap.info .panel.lottery-panel .code-list .list-body ul li { width: 33.333%; text-align: center; float: left; margin: 0.5em 0; }

.wrap.info .panel.lottery-panel .code-list .list-body ul li > span { box-sizing: border-box; display: inline-block; line-height: 0.53333rem; padding: 0 0.16rem; border-radius: 0.04rem; overflow: hidden; }

.wrap.info .panel.lottery-panel.no-register .no-register-col, .wrap.info .panel.lottery-panel.yes-register .yes-register-col, .wrap.info .panel.lottery-panel.no-bingo-code .no-register-col, .wrap.info .panel.lottery-panel.no-bingo-code .yes-register-col { display: none; }

.wrap.info .panel.lottery-panel.collapse-in .list-body { height: 0; padding: 0; }

.wrap.info .panel.lottery-panel.collapse-in .code-list .list-title { margin-bottom: 0; }

.wrap.info .panel.lottery-panel.no-code .code-list, .wrap.info .panel.lottery-panel.no-code .footer-register, .wrap.info .panel.lottery-panel.no-code .footer-title, .wrap.info .panel.lottery-panel.no-code .yes-register-col, .wrap.info .panel.lottery-panel.no-code .no-register-col, .wrap.info .panel.lottery-panel.no-code .no-bingo-col, .wrap.info .panel.lottery-panel.no-code #noBingoCode { display: none; }

.wrap.info .panel.lottery-panel.yes-code .no-code-col, .wrap.info .panel.lottery-panel.yes-code .yes-time, .wrap.info .panel.lottery-panel.yes-code .footer-register, .wrap.info .panel.lottery-panel.yes-code .footer-title, .wrap.info .panel.lottery-panel.yes-code .yes-register-col, .wrap.info .panel.lottery-panel.yes-code .no-register-col, .wrap.info .panel.lottery-panel.yes-code .no-bingo-col, .wrap.info .panel.lottery-panel.yes-code #noBingoCode { display: none; }

.wrap.info .panel.lottery-panel.yes-code .no-time { display: block; }

.wrap.info .panel.lottery-panel.no-register .footer-register, .wrap.info .panel.lottery-panel.no-register .no-register-col { display: block; }

.wrap.info .panel.lottery-panel.no-register .yes-register-col, .wrap.info .panel.lottery-panel.no-register .no-code-col, .wrap.info .panel.lottery-panel.no-register .content-title, .wrap.info .panel.lottery-panel.no-register .not-time, .wrap.info .panel.lottery-panel.no-register .btn-md-long.red, .wrap.info .panel.lottery-panel.no-register .no-bingo-col, .wrap.info .panel.lottery-panel.no-register #noBingoCode { display: none; }

.wrap.info .panel.lottery-panel.no-register .code-list > .list-title { margin-top: 0.52rem; }

.wrap.info .panel.lottery-panel.no-register .code-list > .list-body li.bingo > span { background: #ea2241; }

.wrap.info .panel.lottery-panel.yes-register .getCode, .wrap.info .panel.lottery-panel.yes-register .not-time, .wrap.info .panel.lottery-panel.yes-register .no-code-col, .wrap.info .panel.lottery-panel.yes-register .no-register-col, .wrap.info .panel.lottery-panel.yes-register .btn-md-long.red, .wrap.info .panel.lottery-panel.yes-register .content-title, .wrap.info .panel.lottery-panel.yes-register .no-bingo-col, .wrap.info .panel.lottery-panel.yes-register #noBingoCode { display: none; }

.wrap.info .panel.lottery-panel.yes-register .yes-register-col { display: block; }

.wrap.info .panel.lottery-panel.yes-register .code-list > .list-title { margin-top: 0.52rem; }

.wrap.info .panel.lottery-panel.yes-register .code-list > .list-body li.bingo { background: #ea2241; }

.wrap.info .panel.lottery-panel.no-bingo .getCode, .wrap.info .panel.lottery-panel.no-bingo .not-time, .wrap.info .panel.lottery-panel.no-bingo .no-code-col, .wrap.info .panel.lottery-panel.no-bingo .no-register-col, .wrap.info .panel.lottery-panel.no-bingo .btn-md-long.red, .wrap.info .panel.lottery-panel.no-bingo .content-title, .wrap.info .panel.lottery-panel.no-bingo .footer-title, .wrap.info .panel.lottery-panel.no-bingo .yes-register-col, .wrap.info .panel.lottery-panel.no-bingo #noBingoCode { display: none; }

.wrap.info .panel.lottery-panel.no-bingo .no-bingo-col { display: block; font-size: 12px; }

[data-dpr="2"] .wrap.info .panel.lottery-panel.no-bingo .no-bingo-col { font-size: 24px; }

[data-dpr="3"] .wrap.info .panel.lottery-panel.no-bingo .no-bingo-col { font-size: 36px; }

.wrap.info .panel.lottery-panel.no-bingo .code-list > .list-title { margin-top: 0.52rem; }

.wrap.info .panel.lottery-panel.no-bingo-code .getCode, .wrap.info .panel.lottery-panel.no-bingo-code .not-time, .wrap.info .panel.lottery-panel.no-bingo-code .no-code-col, .wrap.info .panel.lottery-panel.no-bingo-code .no-register-col, .wrap.info .panel.lottery-panel.no-bingo-code .btn-md-long.red, .wrap.info .panel.lottery-panel.no-bingo-code .content-title, .wrap.info .panel.lottery-panel.no-bingo-code .no-bingo-col, .wrap.info .panel.lottery-panel.no-bingo-code .footer-title, .wrap.info .panel.lottery-panel.no-bingo-code .yes-register-col { display: none; }

.wrap.info .panel.lottery-panel.no-bingo-code .no-bingo-col { display: block; font-size: 12px; }

[data-dpr="2"] .wrap.info .panel.lottery-panel.no-bingo-code .no-bingo-col { font-size: 24px; }

[data-dpr="3"] .wrap.info .panel.lottery-panel.no-bingo-code .no-bingo-col { font-size: 36px; }

.wrap.info .panel.lottery-panel.no-bingo-code .code-list > .list-title { margin-top: 0.52rem; }

.wrap.info .panel.lottery-panel.no-bingo-code .code-list > .list-title i.icon { display: none; }

.wrap.info .panel.lottery-panel.no-bingo-code .code-list > .list-body { display: none; }

.wrap.info .panel.lottery-panel.no-bingo-code #noBingoCode { display: block; }

.wrap.info .form-control .form-inline label { display: inline-block; width: 2rem; height: 0.8rem; line-height: 0.8rem; text-align: right; }

.wrap.info .form-control .form-inline input { display: inline-block; width: calc(100% - 2.13333rem); color: #333; }

.wrap.info .form-control .form-inline textarea { display: inline-block; width: calc(100% - 2.13333rem); resize: none; height: 1.86667rem; background: #e4e3e3; padding: 0.5em 1em; color: #333; }

.wrap.info .form-control .form-inline .btn-md.red { margin-top: 0.68rem; margin-bottom: 0.29333rem; }

.wrap.info .form-control .form-inline .reg-btn { margin-right: 0; width: 6.16rem; }

#infoBar { font-size: 12px; text-align: left; }

[data-dpr="2"] #infoBar { font-size: 24px; }

[data-dpr="3"] #infoBar { font-size: 36px; }

#infoBar .content { padding: 0.42667rem; }

#infoBar .footer-content { padding: 0 0.42667rem; }

.wrap.rule .page-title { width: 100%; color: #fff; font-size: 34px; font-weight: normal; height: 0.82667rem; line-height: 0.82667rem; position: absolute; top: 1.14667rem; left: 0; text-align: center; }

[data-dpr="2"] .wrap.rule .page-title { font-size: 68px; }

[data-dpr="3"] .wrap.rule .page-title { font-size: 102px; }

.wrap.rule .body-box { position: absolute; top: 2.36rem; left: 0; width: 100%; overflow: hidden; text-align: left; }

.wrap.rule section { font-size: 12px; color: #fff; }

[data-dpr="2"] .wrap.rule section { font-size: 24px; }

[data-dpr="3"] .wrap.rule section { font-size: 36px; }

.wrap.rule .sub-title { height: 0.56rem; line-height: 1; background-color: #4f5bff; padding: 0.13333rem 0.52rem 0.12rem 0.32rem; font-size: 12px; font-weight: normal; color: #fff; border-top-right-radius: 0.28rem; border-bottom-right-radius: 0.28rem; display: inline-block; width: auto; }

[data-dpr="2"] .wrap.rule .sub-title { font-size: 24px; }

[data-dpr="3"] .wrap.rule .sub-title { font-size: 36px; }

.wrap.rule .content-wrap { padding: 0.53333rem 0.32rem 0.8rem; width: 100%; text-align: justify; line-height: 2; }

.wrap.rule .content-wrap i.iconfont { display: inline-block; font-size: 12px; vertical-align: baseline; }

[data-dpr="2"] .wrap.rule .content-wrap i.iconfont { font-size: 24px; }

[data-dpr="3"] .wrap.rule .content-wrap i.iconfont { font-size: 36px; }

.wrap.rule .content-wrap .content { padding: 0.36rem; background: #2d37bf; border-radius: 0.26667rem; }

.wrap.rule .content-wrap .content .content-title { padding-bottom: 0.06667rem; }

.wrap.rule .content-wrap .content .content-body + .content-title { padding-top: 1em; }

.wrap.rule .pcCode { padding: 0.4rem 0 0; text-align: center; }

.wrap.rule .pcCode img { width: 2.53333rem; height: 2.53333rem; }

.wrap.rule .pcCode .remark { padding: 0.25333rem 0; font-size: 10px; line-height: 1; }

[data-dpr="2"] .wrap.rule .pcCode .remark { font-size: 20px; }

[data-dpr="3"] .wrap.rule .pcCode .remark { font-size: 30px; }

.wrap.rule .rule-table.rule-table-list td { padding: 0.13333rem 0; }

.wrap.rule .rule-table.rule-table-list td div { line-height: 1.4; }

.wrap.list .bg-box { overflow: hidden; padding: 0.72rem 0.42667rem; background: #3f00b2; }

.wrap.list .page-title { padding: 0.18667rem 1.93333rem; line-height: 1; font-size: 18px; background: linear-gradient(90deg, #a700e4, #ef3f3e); color: #fff; border-radius: 0.42667rem; display: inline-block; width: auto; }

[data-dpr="2"] .wrap.list .page-title { font-size: 36px; }

[data-dpr="3"] .wrap.list .page-title { font-size: 54px; }

.wrap.list .panel { margin-top: 0.66667rem; }

.wrap.list .panel:first-of-child { margin-top: pxem(63); }

.wrap.list .panel .panel-title { text-align: center; height: 0.84rem; line-height: 0.84rem; }

.wrap.list .panel .panel-body { padding-top: 0.84rem; overflow: hidden; font-size: 18px; }

[data-dpr="2"] .wrap.list .panel .panel-body { font-size: 36px; }

[data-dpr="3"] .wrap.list .panel .panel-body { font-size: 54px; }

.wrap.list .panel .panel-body ul { min-height: 1.13333rem; overflow: hidden; }

.wrap.list .panel .panel-body ul > li { float: left; width: 50%; padding: 0.46667rem 0; }

.wrap.list .panel.first-panel .panel-body ul > li:last-of-type { border-left: 1px solid #3f00b2; }

.wrap.list .panel.sec-panel .panel-body ul > li { width: 33.333%; padding: 0.28rem 0; }

.wrap.list .panel.third-panel .panel-body ul > li, .wrap.list .panel.fourth-panel .panel-body ul > li { width: 20%; padding: 0.26667rem 0; font-size: 12px; }

[data-dpr="2"] .wrap.list .panel.third-panel .panel-body ul > li, [data-dpr="2"] .wrap.list .panel.fourth-panel .panel-body ul > li { font-size: 24px; }

[data-dpr="3"] .wrap.list .panel.third-panel .panel-body ul > li, [data-dpr="3"] .wrap.list .panel.fourth-panel .panel-body ul > li { font-size: 36px; }

/*# sourceMappingURL=maps/index.css.map */
